#stampViewer {
    padding-left: 70px;
    width: 120px;
}

.stamp-photo{
   min-width: 18px !important;
}

.mat-hint{
    font-size: 80%;
}

button {
    border: 0.4px solid black;
    width: 33%;
}

#input-stamp-field{
    padding-top: 20px;
}

.active {
    background-color: #8edaf8;
    color: white;
}