.textBox{
    font: 20px Georgia;
    z-index: 20;
    background:  transparent;  
    border: 0 none;
    overflow: hidden;
    outline: none;
    resize: none;
    overflow-x: hidden;
    width: 1px;
    height: 50px;
    line-height: 120%;
}

.text-box {
    position: relative;
    top: 100px;
    left: 200px;
}
